.header {
    color: var(--text-color-heading, #110804);

    /* Web/H2 */
    font-family: 'Satoshi';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 125% */
    letter-spacing: -0.8px;
    text-transform: uppercase;
}